@import '../../../assets/sass/common';

:host {
  display: flex;
  height: calc(100vh - 70px);
  justify-content: center;
  background: white;
}

.greyed-background {
  background-color: #fcfcfc;
}

.reset-container {
  width: 500px;
  height: 300px;
  display: flex;
  justify-content: center;
  margin-top: 25vh;
  border-radius: 3px;
  .reset-header {
    h1 {
      text-align: center;
      color: #555;
      margin-top: 16px;
      margin-bottom: 16px;
      font-size: 38px;
      font-weight: 200;
    }
    p {
      color: #c4c2c2;
      font-size: 14px;
      font-weight: 500;
      text-align: center;
    }
  }
  .reset-form {
    .input-group {
      margin-top: 14px;
      margin-bottom: 10px;
    }
    .form-group {
      position: relative;
    }
    .reset-button {
      background: rgb(45, 90, 119);
      width: 100%;
      border-radius: 3px;
      height: 34px;
      color: white;
      margin-top: 20px;
      font-weight: bold;
      &:hover {
        background: darken(rgb(45, 90, 119), 2%);
        outline: none;
      }
      &:active {
        background: darken(rgb(45, 90, 119), 10%);
        outline: none;
      }
    }
    .cancel-button {
      background: #eee;
      width: 100%;
      border-radius: 3px;
      height: 34px;
      color: #6a6a6a;
      font-weight: bold;
      margin-top: 14px;
      &:hover {
        background: darken(#eee, 2%);
      }
      &:active {
        background: darken(#eee, 7%);
      }
    }
    .err-message {
      color: #b63c3f;
      font-size: 14px;
      font-weight: 700;
      position: absolute;
      top: 6px;
      left: 276px;
      width: 100%;
    }
  }
  .success-message {
    text-align: center;
    .reset-response-header {
      h1 {
        color: #8b8b8b;
        font-size: 27px;
      }
      p {
        color: #8b8b8b;
        font-size: 14px;
        margin-bottom: 20px;
      }
      i {
        margin-top: 63.81px;
        font-size: 70px;
        color: #309012;
        text-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
      }
    }
  }
}
