<div class="reset-container" [ngClass]="{'greyed-background': submitted }">
  <div *ngIf="!submitted">

    <div class="reset-header">
      <h1>Reset Password</h1>
      <p>Enter your email address <br/> and we will send you a password reset link.</p>
    </div>

    <form role="form" class="reset-form">
      <div class="form-group" [ngClass]="{'has-error': !validEmail}">
        <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
          <input
            type="email"
            [(ngModel)]="email"
            #emailInput
            placeholder="Email"
            name="email"
            class="form-control">
        </div>
        <span *ngIf="!validEmail" class="err-message">Please enter a valid email address.</span>
      </div>

      <button
        class="btn reset-button"
        type="submit"
        (click)="submit()">
        Send Reset Link
      </button>
      <button class="btn cancel-button" type="button" (click)="cancel()">Cancel</button>
    </form>
  </div>

  <div class="success-message" *ngIf="submitted">
    <div class="reset-response-header">
      <i class="fas fa-check-circle check-circle"></i>
      <h1>An email is on the way!</h1>
      <p class="reset-info">Please check your inbox for a password reset link.</p>
    </div>
    <button class="btn btn-link u-btn-link back-button" type="button" (click)="cancel()">Back to Login</button>
  </div>
</div>
