.btn-link {
  color: $u-brand-blue;
}

.btn-link.u-btn-link {
  font-weight: bold;
  text-decoration: none;
  outline: none;
  padding: 0;
}

.btn-link.u-btn-link.delete {
  color: $u-brand-red;
}

.btn-pm {
  padding-right: 15px;
  padding-left: 15px;
  color: #ffffff;
}

.btn-pm.default {
  background-color: #888;
}

.btn-pm.delete {
  background-color: $u-brand-red;
}

.cph-button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border: 0;
  cursor: pointer;
  background-color: transparent;
  color: $u-brand-blue;
  font-weight: 600;
  transition: color .11s ease;
  i {
    color: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 4px;
  }
  &:hover {
    color: lighten($u-brand-blue, 20%);
  }
  &:disabled {
    font-weight: inherit;
    cursor: not-allowed;
    color: rgba($u-brand-blue, .65);
  }
  &:after {
    font-weight: 400;
  }
}

.cph-button-light {
  @extend .cph-button;
  color: white;
  &:hover {
    color: $u-brand-orange-lighter;
  }
  &:disabled {
    color: rgba(white, .65);
  }
}

.cph-button-dark {
  @extend .cph-button;
  color: $u-brand-grey-darker;
  &:hover {
    color: lighten($u-brand-blue, 20%);
  }
  &:disabled {
    color: rgba($u-brand-grey-darker, .65);
  }
}
.cph-button-red {
  @extend .cph-button;
  color: $u-brand-red;
  &:hover {
    color: lighten($u-brand-red, 20%)
  }
  &:disabled {
    color: rgba($u-brand-red, .65);
  }
}
.cph-button-green {
  @extend .cph-button;
  color: $u-brand-green;
  &:hover {
    color: lighten($u-brand-green, 20%)
  }
  &:disabled {
    color: rgba($u-brand-green, .65);
  }

}

.cph-button-grey {
  @extend .cph-button;
  color: $u-brand-grey-darker;
  &:hover {
    color: lighten($u-brand-grey-darker, 20%)
  }
  &:disabled {
    color: rgba($u-brand-grey-darker, .65);
  }
}

.cph-button-dark-blue {
  @extend .cph-button;
  color: $u-brand-blue-darker;
  &:hover {
    color: lighten($u-brand-blue-darker, 20%)
  }
  &:disabled {
    color: rgba($u-brand-blue-darker, .65);
  }
}

.cph-button-light-blue {
  @extend .cph-button;
  color: #3586B9;
  &:hover {
    color: lighten(#3586B9, 20%)
  }
  &:disabled {
    color: rgba(#3586B9, .65);
  }
}
