.v-table {
  width: 100%;
}

.v-table th {
  padding-left: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: $u-brand-blue-lightest;
  color: $u-brand-blue;
  font-style: bold;
}

.v-table th > button > i {
  color: $u-brand-blue;
  font-size: 12px;
  padding-left: 10px;
  font-style: normal;
  vertical-align: middle;
}

.v-table td{
  color: black;
  background-color: white;
  text-align: left;
  padding-left: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid $u-brand-beige;
}

.v-table tr:first-child th:first-child {
  border-top-left-radius: 5px;
}

.v-table tr:first-child th:last-child {
  border-top-right-radius: 5px;
}

.v-table tr:last-child td:first-child {
  border-bottom-left-radius: 5px;
}

.v-table tr:last-child td:last-child {
  border-bottom-right-radius: 5px;
}

.v-table tr:hover td {
  background-color: $u-table-hover-color;
}
